.navigation-bar {
    display: flex;
    background-color: var(--third-darkest);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.title {
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For older IE/Edge */
    background-color: var(--third-darkest);
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 25%;
}

.padding {
    flex-grow: 1;
}

.landing-page-login-button {
    background-color: var(--third-darkest);
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 25%;
    border: 0px;
    border-radius: 0;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.landing-page-login-button:hover {
    cursor: pointer;
    transform: scale(1.01); /* Slight zoom-in effect */
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--darkestdarkest);
}