.deck-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 80%;
    position: absolute;
    top: max(200px, 50%); /* Ensures it never goes above 30px */
    left: max(550px, calc(50% + 150px));
    transform: translate(-50%, -45%);
    padding: 20px;
    text-align: center;
    overflow-y: auto;
}

.confirm-button {
    color: white;
    background: var(--second-darkest);
    border: none;
    padding: 8px 12px;
    font-size: 2.5rem;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.central-container {
    width: 100%;
    background-color: var(--darkest);
    padding: 20px, 30px, 20px, 30px;
    border-radius: 12px;
    max-height: 800px; /* Ensure it has a height limit */
    overflow-y: auto; /* Enable vertical scrolling */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pdfTitle {
    width:10%;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
    padding-left: 8px;
    padding-top: 8px;
}

.card1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--darkest);
    margin: 10px 0;
    padding-left: 16px;
    padding-right: 16px;
}

.card1 textarea {
    resize: none;
    width: 60%;
    height: 100px; 
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.card1 textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
